// ==================================================
// HTML Content
// ==================================================


// Headings
// ------------------------------
h1, .h1 {
	@include h1;
}
h2, .h2 {
	@include h2;
}
h3, .h3 {
	@include h3;
}
h4, .h4 {
	@include h4;
}
h5, .h5 {
	@include h5;
}
h6, .h6 {
	@include h6;
}


// Dividers
// ------------------------------
hr {
	display: block;
	clear: both;
	border: none;
	border-top: 1px solid $grey-light;
	padding: 0;
	height: 1px;
	margin: ($space * 2) 0;
}


// Links
// ------------------------------
a {
	color: $blue;
	background-color: transparent;
	text-decoration: underline;
	transition: color .5s, background-color .5s, border .5s;
	
	&:hover,
	&:focus {
		color: white;
		background-color: $blue;
		text-decoration: none;
	}
}


// Lists
// ------------------------------
ul, ol {
	padding: 0 0 0 $space;
	
	ul, ol, dl {
		margin-bottom: 0;
	}
	nav & {
		list-style: none;
		padding: 0;
	}
}
dl {}
dt {
	@include caption;
	margin: $space 0 0;
}
dd {
	margin: 0;
}


// Quotes
// ------------------------------
blockquote {
	@include h4;
	color: $grey-medium;
	
	cite {
		display: block;
		text-align: right;
		font-weight: bolder;
	}
}
q {
	color: $grey-medium;
}


// Code
// ------------------------------
pre, code {
	font-family: $font-code;
	background-color: $grey-lighter;
}
pre {
	padding: .5em 1em;
	overflow: auto;
}
var, kbd {
	font-family: inherit;
}
samp {
	font-family: inherit;
	font-weight: bolder;
}


// Figures
// ------------------------------
figure {
	margin-left: auto;
	margin-right: auto;
	padding: $space;
	max-width: 60rem;
	text-align: center;
	background: $grey-lighter;
}
figcaption {}


// Other
// ------------------------------
abbr[title] {
	border-bottom: 1px dotted;
	text-decoration: none;
}
