// ==================================================
// Containers
// ==================================================


// Main containers
// ------------------------------
.main-row {
	overflow: hidden;
}
.wrapper {
	max-width: 120rem;
	padding: 0 3rem;
	margin: 0 auto;
	@include clearfix;
}
