// ==================================================
// Pagination
// ==================================================


// Content pagination
// ------------------------------
.content-pagination {
	margin-top: $space;
	border-top: 1px solid $grey-light;
	padding-top: $space;
	clear: both;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	
	> span,
	a {
		display: block;
		margin: 0.5em;
		min-width: 2em;
		line-height: 2;
		text-align: center;
		text-decoration: none;
		background: $grey-lighter;
	}
	a:hover,
	a:focus {
		color: white;
		background-color: $blue;
	}
}
