// ==================================================
// Colors
// ==================================================


// Variables
// ------------------------------

// Greys
$aa_grey:      #717171; // Lightest grey that passes WCAG2.0-AA contrast on white
$dark_grey:    #333;
$grey:         #888;
$light_grey:   #BBB;
$lighter_grey: #EEE;

// Messages
$alert:        #FD0;
$error:        #900;
$success:      #080;

// Brand
$blue:         #069;
$light_blue:   lighten( $blue, 30% );


// Colour styles
// ------------------------------
@mixin body-color {
	color: $dark_grey;
	background-color: white;
}
@mixin highlight-color {
	color: white;
	background-color: $blue;
}
