// ==================================================
// Buttons
// ==================================================


// Mixins
// ------------------------------
@mixin default-button-style {
	font-size: inherit;
	display: inline-block;
	width: auto;
	border: none;
	padding: 0.5em 2em;
	margin: 0;
	
	color: white;
	background: $blue;
	text-decoration: none;
	text-align: center;
	font-weight: normal;
	
	border-radius: 5px;
	box-sizing: border-box;
	transition: color .5s, background-color .5s, border .5s, box-shadow .5s;
	position: relative;
	cursor: pointer;
}


// Standard buttons
// ------------------------------
@include form-buttons {
	// form buttons are left with their default styles, it's better to use custom class names instead
	// this is to avoid having to constantly override styles in sites where there's multiple button styles
}


// Simple buttons
// ------------------------------
// If the site will use WooCommerce, beware of possible conflicts with WC's own .button class (you can just rename this class to something else)
.button {
	@include default-button-style;
	
	&:hover,
	&:focus {
		color: white;
		background-color: $blue-light;
	}
}


// Buttons / Button block [gutenberg]
// ------------------------------
.wp-block-buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -8px 0 2rem -8px;
	
	.wp-block-button {
		margin: 8px 0 0 8px;
	}
	
	// Alignment variations
	&.aligncenter {
		display: flex;
		justify-content: center;
		
		.wp-block-button {
			margin: 8px 4px 0;
		}
	}
	&.alignleft.alignleft {
		margin: -8px 2rem 2rem -8px;
	}
	&.alignright.alignright {
		margin: -8px -8px 2rem 2rem;
		justify-content: flex-end;
		
		.wp-block-button {
			margin: 8px 8px 0 0;
		}
	}
}
.wp-block-button {
	
	// Link
	@at-root .wp-block-button__link {
		@include default-button-style;
		
		// Custom text colours
		&.has-text-color {}
		// &.has-[color-name]-color
		
		// Custom background colours and gradients
		&.has-background {}
		// &.has-[color-name]-background-color
		// &.has-[gradient-name]-gradient-background
		&[class*="-gradient-background"] {
			
			&:hover, &:focus {
				box-shadow: 1px 3px 5px rgba(black, 0.4);
			}
		}
	}
	
	// Style variation: Fill (default)
	&.is-style-fill {}
	&:not( .is-style-outline ) .wp-block-button__link {
		&:not( [class*="-gradient-background"] ) {
			&:hover, &:focus {
				color: white;
				background-color: $blue-light;
			}
		}
	}
	
	// Style variation: Outline
	&.is-style-outline .wp-block-button__link {
		padding: calc( 0.5em - 2px ) 2em;
		
		&:not( .has-text-color ) {
			color: $blue;
		}
		&:not( [class*="-gradient-background"] ) {
			&:hover, &:focus {
				color: $blue-light;
				background-color: transparent;
			}
		}
	}
	
	
	// Legacy support for stand-alone block
	// ----------
	margin: 0 0 2rem;
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
}


// File block [gutenberg]
// ------------------------------
.wp-block-file {
	margin: 0 0 $space;
	border: 1px solid $grey-lighter;
	padding: 2rem;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	a {
		text-align: left;
	}
	a.wp-block-file__button {
		flex: none;
		@extend .button;
		@include font-size-small;
		padding: 0.5rem 1rem;
		margin-left: 1rem;
		border-radius: 100vw;
	}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}
