// ==================================================
// Buttons
// ==================================================


// Standard buttons
// ------------------------------
@include form-buttons {
	// form buttons are left with their default styles, it's better to use custom class names instead
	// this is to avoid having to constantly override styles in sites where there's multiple button styles
}


// Simple buttons
// ------------------------------
// If the site will use WooCommerce, beware of possible conflicts with WC's own .button class (you can just rename this class to something else)
.button {
	font-size: inherit;
	display: inline-block;
	width: auto;
	border: none;
	padding: 0.5em 2em;
	margin: 0;
	
	color: white;
	background: $blue;
	text-decoration: none;
	text-align: center;
	font-weight: normal;
	
	border-radius: 5px;
	box-sizing: border-box;
	transition: color .5s, background-color .5s, border .5s;
	position: relative;
	cursor: pointer;
	
	&:hover,
	&:focus {
		color: white;
		background: $blue-light;
	}
}


// Button block [gutenberg]
// ------------------------------
.wp-block-button {
	margin: 0 0 2rem;
	
	@include screen-below( small ) {
		&.wp-block-button {
			text-align: center;
		}
	}
}
.wp-block-button__link {
	@extend .button;
	
	// Style variation: Rounded (default)
	.is-style-default & {}
	
	// Style variation: Outline
	.is-style-outline & {
		&:not( .has-text-color ) {
			color: $blue;
		}
		&:hover, &:focus {
			color: white;
		}
	}
	
	// Style variation: Squared
	.is-style-squared & {}
	
	// Custom text colours
	&.has-text-color
	// &.has-[color-name]-color
	
	// Custom background colours
	&.has-background {}
	// &.has-[color-name]-background-color
	
	// Alignment variations
	.aligncenter & {}
	.alignleft & {}
	.alignright & {}
}


// File block [gutenberg]
// ------------------------------
.wp-block-file {
	margin: 0 0 $space;
	border: 1px solid $grey-lighter;
	padding: 2rem;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	a {
		text-align: left;
	}
	a.wp-block-file__button {
		flex: none;
		@extend .button;
		@include font-size-small;
		padding: 0.5rem 1rem;
		margin-left: 1rem;
		border-radius: 100vw;
	}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}
