// ==================================================
// Figures
// ==================================================


// Standard figures
// ------------------------------
figure {
	margin-left: auto;
	margin-right: auto;
	padding: $space;
	max-width: 60rem;
	text-align: center;
	background: $grey-lighter;
}
figcaption {}
