// ==================================================
// Grids
// ==================================================


// Multi-column grid
// ------------------------------
.multi-column-grid {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$space;

	> * {
		flex: 1 1 0;
		margin-bottom: $space;
		margin-left: $space;
		min-width: 20rem;
	}
}


// Columns block [gutenberg]
// ------------------------------
.wp-block-columns {
	margin-left: -$space;
	flex-wrap: wrap !important;
	
	&.has-2-columns {}
	&.has-3-columns {}
	&.has-4-columns {}
	&.has-5-columns {}
	&.has-6-columns {}
	
	// Alignment variations
	&.alignwide {
		margin-left: calc( 50% - #{$space / 2} );
		width: calc( 100% + 24rem + #{$space} );
		max-width: calc( 100vw + #{$space} );
	}
	&.alignfull {
		margin-left: calc( 50% - #{$space / 2} );
		width: calc( 100vw + #{$space} );
	}
}
.wp-block-column {
	flex: 1 1 0;
	margin: 0 0 $space $space !important;
	min-width: 20rem;
	
	> :last-child {
		margin-bottom: 0;
	}
}


// Media & Text block [gutenberg]
// ------------------------------
.wp-block-media-text {
	margin: 0 0 $space;
	background: $grey-lighter;
	
	figure.wp-block-media-text__media {
		padding: 0;
		
		img {}
		video {}
	}
	.wp-block-media-text__content {
		padding-top: $space;
		padding-bottom: $space;
		
		> :last-child {
			margin-bottom: 0;
		}
	}
	
	// Block settings
	&.is-stacked-on-mobile {}
	
	// Layout variations
	&.has-media-on-the-right {}
	
	// Custom background colours
	// &.has-[colorname]-background-color {}
	
	// Alignment variations
	&.alignwide {}
	&.alignfull {}
}
