// ==================================================
// Grids
// ==================================================


// Multi-column grid
// ------------------------------
.multi-column-grid {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$space;

	> * {
		flex: 1 1 0;
		margin-bottom: $space;
		margin-left: $space;
		min-width: 20rem;
	}
}


// Group block [gutenberg]
// ------------------------------
.wp-block-group {
	margin: 0 0 $space;
	
	.wp-block-group__inner-container {
		> :last-child {
			margin-bottom: 0;
		}
	}
	&.has-background {
		.wp-block-group__inner-container {
			padding: $space;
		}
	}
}


// Columns block [gutenberg]
// ------------------------------
$columns_block_margin: $space;
$columns_block_padding: $space;
$columns_margin: $space;
$columns_gutter: $space;
$columns_padding: 0rem;

.wp-block-columns {
	margin: 0 0 $columns_block_margin;
	
	// Colour variations
	&.has-background {
		padding: $columns_block_padding;
	}
	&.has-text-color {}
	// &.has-[color-name]-background-color
	// &.has-[color-name]-color
	
	// Vertical alignment variations
	&.are-vertically-aligned-top {}
	&.are-vertically-aligned-center {}
	&.are-vertically-aligned-bottom {}
	
	// Alignment variations
	&.alignwide {}
	&.alignfull {}
}
.wp-block-column {
	padding: $columns_padding;
	box-sizing: border-box;
	
	> :last-child {
		margin-bottom: 0;
	}
	
	// Responsive
	@media (max-width: 599px) {
		&:not(:first-child) {
			margin-top: $columns_margin;
		}
	}
	@media (max-width: 781px) and (min-width: 600px) {
		&:nth-child(n+3) {
			margin-top: $columns_margin;
		}
		flex-basis: calc( 50% - #{ $columns_gutter * 0.5 } ) !important;
		&:nth-child(2n) {
			margin-left: $columns_gutter;
		}
	}
	@media (min-width: 782px) {
		&:not(:first-child) {
			margin-left: $columns_gutter;
		}
	}
	
	// Vertical alignment variations
	&.is-vertically-aligned-top {}
	&.is-vertically-aligned-center {}
	&.is-vertically-aligned-bottom {}
}


// Media & Text block [gutenberg]
// ------------------------------
.wp-block-media-text {
	margin: 0 0 $space;
	
	.wp-block-media-text__media {
		padding: 0;
		
		a {}
		img {
			width: 100%;
		}
		video {}
	}
	.wp-block-media-text__content {
		padding: 0;
		
		> :last-child {
			margin-bottom: 0;
		}
	}
	
	// Layout: media on left
	&:not( .has-media-on-the-right ) {
		.wp-block-media-text__content {
			padding-left: 4rem;
			
			@media (max-width: 600px) {
				padding-left: $space;
			}
		}
	}
	
	// Layout: media on right
	&.has-media-on-the-right {
		.wp-block-media-text__content {
			padding-right: 4rem;
			
			@media (max-width: 600px) {
				padding-right: $space;
			}
		}
	}
	
	// Alignment variations
	&.alignwide,
	&.alignfull {
		.wp-block-media-text__content {
			padding: 0 4rem;
			
			@media (max-width: 600px) {
				padding: 0 $space;
			}
		}
	}
	
	// Custom background colours
	&.has-background {
		.wp-block-media-text__content {
			padding: $space 4rem;
			
			@media (max-width: 600px) {
				padding: $space;
			}
		}
	}
	// &.has-[color-name]-background-color {}
	
	// Setting: Stacked on mobile
	&.is-stacked-on-mobile {
		@media (max-width: 600px) {
			&:not( .has-background ) {
				&:not( .alignwide ):not( .alignfull ) .wp-block-media-text__content {
					padding-left: 0;
					padding-right: 0;
				}
				&:not( .has-media-on-the-right ) .wp-block-media-text__content {
					margin-top: $space;
				}
				&.has-media-on-the-right .wp-block-media-text__content {
					margin-bottom: $space;
				}
			}
		}
	}
	
	// Setting: Fill media column
	&.is-image-fill {
		.wp-block-media-text__media {
			a {
				display: block;
				height: 100%;
				background-color: transparent;
			}
			img {
				@include visually-hidden;
			}
		}
	}
	
	// Vertical alignment variations
	&.is-vertically-aligned-top {}
	&.is-vertically-aligned-center {}
	&.is-vertically-aligned-bottom {}
}
