// ==================================================
// Images
// ==================================================


// Standard figures
// ------------------------------
figure {
	display: table;
	margin-left: auto;
	margin-right: auto;
	padding: $space;
	text-align: center;
	background: $grey-lighter;
	box-sizing: border-box;
	
	img {
		display: block;
		margin: 0 auto;
	}
}
figcaption,
.figcaption {
	margin: 1rem 0 0;
	font: inherit;
	color: inherit;
	text-align: inherit;
	box-sizing: border-box;
}


// Image block [gutenberg]
// ------------------------------
.wp-block-image {
	margin: 0 auto $space;
	
	figcaption {
		display: block !important;
		@extend .figcaption;
	}
	
	// Size variations
	&.is-resized {
		margin-left: auto;
		margin-right: auto;
	}
	
	// Alignment variations
	.aligncenter {}
	.alignleft {
		@extend .alignleft;
	}
	.alignright {
		@extend .alignright;
	}
	&.alignwide {}
	&.alignfull {}
}


// Gallery block [gutenberg]
// ------------------------------
.wp-block-gallery {
	.blocks-gallery-item {
		flex-grow: 0;
		
		figure {
			padding: 0;
		}
		figcaption {
			@include font-size-small;
			padding-bottom: 1rem;
		}
	}
	
	// Size variations
	&.is-cropped {}
	
	// Column variations
	&.columns-1 {}
	&.columns-2 {}
	&.columns-3 {}
	&.columns-4 {}
	&.columns-5 {}
	&.columns-6 {}
	&.columns-7 {}
	&.columns-8 {}
	
	// Alignment variations
	&.aligncenter {
		justify-content: center;
	}
	&.alignleft {
		@extend .alignleft;
	}
	&.alignright {
		@extend .alignright;
	}
	&.alignwide {}
	&.alignfull {}
}
