// ==================================================
// Images
// ==================================================


// Standard figures
// ------------------------------
figure {
	display: table;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	text-align: center;
	background: $grey-lighter;
	box-sizing: border-box;
	
	img, video, audio {
		display: block;
		margin: 0 auto;
	}
}
figcaption,
.figcaption {
	margin: 1rem 0 0;
	font: inherit;
	color: inherit;
	text-align: inherit;
	box-sizing: border-box;
}


// Image block [gutenberg]
// ------------------------------
.wp-block-image {
	margin: 0 auto $space;
	
	figcaption {
		display: block !important;
		@extend .figcaption;
	}
	
	// Style variation: Rounded
	&.is-style-rounded {}
	
	// Size variations
	&.is-resized {
		margin-left: auto;
		margin-right: auto;
	}
	
	// Alignment variations
	.aligncenter {}
	.alignleft {}
	.alignright {}
	&.alignwide {}
	&.alignfull {}
}


// Gallery block [gutenberg]
// ------------------------------
.wp-block-gallery {
	padding: 16px;
	margin-bottom: $space;
	
	.blocks-gallery-grid {
		margin-bottom: -16px;
	}
	.blocks-gallery-item {
		overflow: hidden;
		flex-grow: 0;
		
		figure {
			padding: 0;
		}
		figcaption {
			@include font-size-small;
			padding-bottom: 1rem;
		}
	}
	.blocks-gallery-caption {
		width: 100%;
	}
	
	// Size variations
	&.is-cropped {}
	
	// Column variations
	&.columns-1 {}
	&.columns-2 {}
	&.columns-3 {}
	&.columns-4 {}
	&.columns-5 {}
	&.columns-6 {}
	&.columns-7 {}
	&.columns-8 {}
	
	// Alignment variations
	&.aligncenter {
		.blocks-gallery-grid {
			justify-content: center;
		}
	}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}
