// ==================================================
// Paragraphs
// ==================================================


// Paragraph block [gutenberg]
// ------------------------------
p {
	// Drop caps
	&.has-drop-cap:not(:focus):first-letter {
		font-size: 6.3em;
	}
	
	// Custom colours
	&.has-text-color {}
	&.has-background {
		padding: 2rem 3rem;
	}
}


// Cover block [gutenberg]
// ------------------------------
.wp-block-cover {
	margin-bottom: $space;
	
	// Background
	&::before {}
	.wp-block-cover__gradient-background {}
	.wp-block-cover__video-background {}
	
	// Contents
	.wp-block-cover__inner-container {
		> :last-child {
			margin-bottom: 0;
		}
	}
	
	// Custom background colours and gradients
	// &.has-[color-name]-background-color
	&.has-background-gradient {}
	// &.has-[gradient-name]-gradient-background {}
	
	// Background settings
	&.has-parallax {}
	&.has-background-dim {
		&::before {}
		.wp-block-cover__gradient-background {}
	}
	&.has-background-dim-10 {}
	&.has-background-dim-20 {}
	&.has-background-dim-30 {}
	&.has-background-dim-40 {}
	&.has-background-dim-50 {}
	&.has-background-dim-60 {}
	&.has-background-dim-70 {}
	&.has-background-dim-80 {}
	&.has-background-dim-90 {}
	&.has-background-dim-100 {}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}
