// ==================================================
// Tables
// ==================================================


// Mixins
// ------------------------------
@mixin table-subtle-background {
	background-color: $grey-lighter;
	mix-blend-mode: multiply;
}
@mixin table-darker-background {
	color: $grey-lighter;
	background: $grey-dark;
	mix-blend-mode: normal;
}


// Standard tables
// ------------------------------
table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid $grey-lighter;
}
caption {
	@include caption-text;
	margin-bottom: 1rem;
}
tr {
	thead &,
	tfoot & {
		@include table-subtle-background;
	}
	tbody & {}
}
td, th {
	padding: .5em 1em;
	border-bottom: 1px solid $grey-lighter;
	text-align: left;
	vertical-align: top;
	color: inherit;
	background-color: transparent;
}


// Responsive tables
// ------------------------------
.responsive-table {
	@include screen-below( small ) {
		&, table {
			border: none;
		}
		&, table, thead, tfoot, tbody, tr, th, td, caption {
			display: block;
		}
		thead, tfoot {
			@include visually-hidden;
		}
		th {
			@include table-subtle-background;
		}
		td[data-column-name],
		th[data-column-name] {
			display: flex;
			
			&:before {
				content: attr( data-column-name );
				min-width: 10rem;
				max-width: 50%;
				margin-right: 1rem;
				flex: none;
				font-weight: bolder;
			}
		}
	}
}


// Table block [gutenberg]
// ------------------------------
.wp-block-table {
	padding: 0;
	background: none;
	
	table {
		margin-bottom: 0;
	}
	figcaption {
		margin: 1rem 0;
	}
	
	// Table settings
	&.has-fixed-layout {}
	
	// Style variation: Stripes
	&.is-style-stripes {
		
		table {}
		td, th {
			border: none;
		}
		thead, tfoot {
			tr {
				@include table-darker-background;
			}
		}
		tbody {
			tr:nth-child(odd) {
				@include table-subtle-background;
			}
		}
		
		// Responsive styles
		&.responsive-table {
			@include screen-below( small ) {
				tr:nth-child(odd) {
					background-color: transparent;
					mix-blend-mode: normal;
				}
				th {
					@include table-darker-background;
				}
				td:nth-child(even) {
					@include table-subtle-background;
				}
			}
		}
	}
	
	// Alignment variations
	&.alignleft.alignleft,
	&.alignright.alignright {
		@include screen-below( medium ) {
			float: none;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.aligncenter,
	&.alignleft,
	&.alignright {
		@include screen-below( small ) {
			width: 100%;
		}
	}
	&.alignwide {}
	&.alignfull {}
}
