// ==================================================
// Tables
// ==================================================


// Standard tables
// ------------------------------
table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid $grey-lighter;
}
caption {
	@include caption-text;
	margin-bottom: 1rem;
}
td, th {
	padding: .5em 1em;
	border-bottom: 1px solid $grey-lighter;
	text-align: left;
	vertical-align: top;
	
	thead &,
	tfoot & {
		background-color: $grey-lighter;
	}
}


// Responsive tables
// ------------------------------
.responsive-table {
	@include screen-below( small ) {
		border: none;
		&, thead, tfoot, tbody, tr, th, td, caption {
			display: block;
		}
		thead tr,
		tfoot tr {
			@include visually-hidden;
		}
		th {
			background: $grey-lighter;
		}
		td[data-column-name],
		th[data-column-name] {
			display: flex;
			
			&:before {
				content: attr( data-column-name );
				min-width: 10rem;
				max-width: 50%;
				margin-right: 1rem;
				flex: none;
				font-weight: bolder;
			}
		}
	}
}


// Table block [gutenberg]
// ------------------------------
.wp-block-table {
	
	// Table settings
	&.has-fixed-layout {}
	
	// Style variation: Stripes
	&.is-style-stripes {
		border-collapse: collapse;
		
		tr:nth-child(odd) {
			background-color: $grey-lighter;
		}
		td, th {
			border: none;
		}
		thead,
		tfoot {
			tr {
				background: none !important;
			}
			td, th {
				color: $grey-lighter;
				background-color: $grey-dark;
			}
		}
		
		&.responsive-table {
			@include screen-below( small ) {
				tr:nth-child(odd) {
					background-color: transparent;
				}
				th {
					color: $grey-lighter;
					background: $grey-dark;
				}
				td:nth-child(even) {
					background-color: $grey-lighter;
				}
			}
		}
	}
	
	// Alignment variations
	&.aligncenter,
	&.alignleft,
	&.alignright {
		@include screen-below( small ) {
			width: 100%;
		}
	}
	&.alignwide {
		@extend .alignwide;
	}
	&.alignfull {
		@extend .alignfull;
	}
}
