// ==================================================
// Widgets
// ==================================================


// Archives block [gutenberg]
// ------------------------------
.wp-block-archives {
	margin: 0 0 2rem;
	
	// Style variation: List (default)
	&.wp-block-archives-list {
		li {}
		a {}
	}
	
	// Style variation: Dropdown
	&.wp-block-archives-dropdown {
		label {}
		select {}
	}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}


// Categories block [gutenberg]
// ------------------------------
.wp-block-categories {
	margin: 0 0 2rem;
	
	// Style variation: List (default)
	&.wp-block-categories-list {
		li {}
		a {}
		ul.children {}
	}
	
	// Style variation: Dropdown
	&.wp-block-categories-dropdown {
		select {}
	}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}


// Latest Comments block [gutenberg]
// ------------------------------
.wp-block-latest-comments {
	padding: 0;
	
	.wp-block-latest-comments__comment {
		font: inherit;
		margin-bottom: 1rem;
		
		article {}
	}
	.avatar, .wp-block-latest-comments__comment-avatar {}
	
	.wp-block-latest-comments__comment-meta {}
	.wp-block-latest-comments__comment-author {}
	.wp-block-latest-comments__comment-link {}
	.wp-block-latest-comments__comment-date {
		font: inherit;
		color: $grey-medium;
	}
	
	.wp-block-latest-comments__comment-excerpt {
		p {
			font: inherit;
			margin: 0 0 2rem;
		}
		> :last-child {
			margin-bottom: 0;
		}
	}
	
	// Block settings
	&.has-avatars {}
	&.has-dates {}
	&.has-excerpts {}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}


// Latest Posts block [gutenberg]
// ------------------------------
.wp-block-latest-posts {
	padding: 0;
	
	li {
		margin: 1rem 0;
		overflow: hidden;
	}
	.wp-block-latest-posts__featured-image {
		img {
			display: block;
			width: 12rem;
			border-radius: 2px;
			
			@include screen-below( small ) {
				margin: 0 auto;
			}
		}
		
		&.alignleft,
		&.alignright {
			margin-bottom: 0;
		}
		&.aligncenter {
			img {
				margin: 0 auto;
			}
		}
	}
	a {}
	.wp-block-latest-posts__post-date {
		font: inherit;
		color: $grey-medium;
	}
	.wp-block-latest-posts__post-excerpt {
		margin: 0;
	}
	.wp-block-latest-posts__post-full-content {
		> :last-child {
			margin-bottom: 0;
		}
	}
	
	// Style variation: Grid
	&.is-grid {
		li {
			flex: 0 0 100%;
			margin: 0;
			
			@include screen-below( small ) {
				&:not( :last-child ) { margin-bottom: $space }
			}
		}
		@include screen-above( small ) {
			@include display-grid;
			@include grid-template-columns( 1fr 1fr );
			grid-gap: $space;
			
			li {
				margin: 0;
				width: auto;
				min-width: 0;
			}
		}
		@include screen-above( medium ) {
			&.columns-2 {}
			&.columns-3 {
				@include grid-template-columns( 1fr 1fr 1fr );
			}
			&.columns-4 {
				@include grid-template-columns( 1fr 1fr 1fr 1fr );
			}
			&.columns-5 {
				@include grid-template-columns( 1fr 1fr 1fr 1fr 1fr );
			}
			&.columns-6 {
				@include grid-template-columns( 1fr 1fr 1fr 1fr 1fr 1fr );
			}
		}
	}
	
	// Block settings
	&.has-dates {}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}


// Calendar block [gutenberg]
// ------------------------------
.wp-block-calendar {
	margin: 0 0 $space;
	
	// Table
	.wp-calendar-table {
		caption {}
		thead {
			tr {}
			th {}
		}
		tbody {
			tr {}
			td {}
			td.pad {}
		}
	}
	
	// Nav
	.wp-calendar-nav {
		.pad {}
	}
	.wp-calendar-nav-prev {
		a {}
	}
	.wp-calendar-nav-next {
		a {}
	}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}


// RSS block [gutenberg]
// ------------------------------
.wp-block-rss {
	padding: 0;
	list-style: none;
	
	.wp-block-rss__item {
		margin: 1rem 0;
	}
	.wp-block-rss__item-title {
		a {}
	}
	.wp-block-rss__item-publish-date,
	.wp-block-rss__item-author {
		@include font-size-small;
		color: $grey-medium;
	}
	.wp-block-rss__item-excerpt {}
	
	
	// Style variation: Grid
	&.is-grid {
		li {
			width: auto;
			margin: 0;
		}
		@media (max-width: 599px) {
			li:not( :last-child ) {
				margin-bottom: $space;
			}
		}
		@media (min-width: 600px) {
			@include display-grid;
			grid-gap: $space;
			@include grid-template-columns( 1fr 1fr 1fr );
			
			li {
				min-width: 0;
			}
			&.columns-2 {
				@include grid-template-columns( 1fr 1fr );
			}
			&.columns-3 {
				@include grid-template-columns( 1fr 1fr 1fr );
			}
		}
		@include screen-above( medium ) {
			&.columns-4 {
				@include grid-template-columns( 1fr 1fr 1fr 1fr );
			}
			&.columns-5 {
				@include grid-template-columns( 1fr 1fr 1fr 1fr 1fr );
			}
			&.columns-6 {
				@include grid-template-columns( 1fr 1fr 1fr 1fr 1fr 1fr );
			}
		}
	}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}


// Search block [gutenberg]
// ------------------------------
.wp-block-search {
	margin: 0 0 $space;
	
	.wp-block-search__label {}
	.wp-block-search__input {}
	.wp-block-search__button {}
	
	// Alignment variations
	&.aligncenter {
		display: flex;
	}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}


// Social Icons block [gutenberg]
// ------------------------------
.wp-block-social-links {
	
	.wp-social-link {
		a {}
		a:hover, a:focus {
			background-color: transparent;
		}
		svg {}
	}
	
	// Style: Logos only
	&.is-style-logos-only {}
	
	// Style: Pill shape
	&.is-style-pill-shape {}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
}


// Tag Cloud block [gutenberg]
// ------------------------------
.wp-block-tag-cloud {
	.tag-cloud-link {
		.tag-link-count {}
		
		// &.tag-link-# {}
		// &.tag-link-position-# {}
	}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}
