// ==================================================
// WordPress Classes
// ==================================================


// Custom font sizes [gutenberg]
// ------------------------------
.has-small-font-size {
	@include font-size-small;
}
.has-normal-font-size {
	@include font-size-normal;
}
.has-medium-font-size {
	@include font-size-medium;
}
.has-large-font-size {
	@include font-size-large;
}
.has-huge-font-size {
	@include font-size-xxlarge;
}
// .has-[font-size]-font-size {}


// Custom text colours [gutenberg]
// ------------------------------
// :root .has-[color-name]-color


// Custom background colours [gutenberg]
// ------------------------------
// :root .has-[color-name]-background-color


// Custom gradients [gutenberg]
// ------------------------------
// :root .has-[gradient-name]-gradient-background


// Alignment [gutenberg]
// ------------------------------
.alignnone {}
.alignleft.alignleft {
	@extend .float-left;
}
.alignright.alignright {
	@extend .float-right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignwide,
.alignfull {
	clear: both;
	position: relative;
	left: calc( (100vw - 100%) * -0.5 );
	max-width: 100vw;
	width: 100vw;
	box-sizing: border-box;
}
.alignwide {
	$size_diff: $wide_blocks_width - $main_wrapper_width;
	width: calc( 100% + #{ $size_diff } );
	
	@include screen-above( wide_blocks ) {
		left: $size_diff * -0.5;
	}
}
.alignfull {}


// Screen readers
// ------------------------------
.screen-reader-text {
	@extend .visually-hidden;
}


// Captions
// ------------------------------
.wp-caption {
	max-width: 100%;
}
.wp-caption-text {}


// Other
// ------------------------------
.gallery-caption {}
.sticky {}
.bypostauthor {}


// Breaks
// ------------------------------
// #more-[post-id] {}
.wp-block-spacer {}
