// ==================================================
// WordPress Classes
// ==================================================


// Custom font sizes [gutenberg]
// ------------------------------
.has-small-font-size {
	@include font-size-small;
}
.has-normal-font-size {
	@include font-size-normal;
}
.has-medium-font-size {
	@include font-size-medium;
}
.has-large-font-size {
	@include font-size-large;
}
.has-huge-font-size {
	@include font-size-xxlarge;
}
// .has-[font-size]-font-size {}


// Custom text colours [gutenberg]
// ------------------------------
// .has-[color-name]-color.has-[color-name]-color


// Custom background colours [gutenberg]
// ------------------------------
// .has-[color-name]-background-color.has-[color-name]-background-color


// Alignment [gutenberg]
// ------------------------------
.alignnone {}
.alignleft {
	@extend .float-left;
}
.alignright {
	@extend .float-right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignwide {
	clear: both;
	margin-left: 50%;
	transform: translateX( -50% );
	max-width: 100vw;
	width: calc( 100% + 24rem );
	box-sizing: border-box;
}
.alignfull {
	clear: both;
	margin-left: 50%;
	transform: translateX( -50% );
	max-width: none;
	width: 100vw;
	box-sizing: border-box;
}


// Screen readers
// ------------------------------
.screen-reader-text {
	@extend .visually-hidden;
}


// Captions
// ------------------------------
.wp-caption {
	max-width: 100%;
}
.wp-caption-text {}


// Other
// ------------------------------
.gallery-caption {}
.sticky {}
.bypostauthor {}


// Breaks
// ------------------------------
// #more-[post-id] {}
.wp-block-spacer {}
