// ==================================================
// Web Fonts
// ==================================================



// ==================================================
// Typography
// ==================================================


// Font sizes
// ------------------------------
@mixin font-size-h1 {
	font-size: 5rem;
	line-height: 1.2;
}
@mixin font-size-xxlarge {
	font-size: 3.6rem;
	line-height: 1.3;
}
@mixin font-size-xlarge {
	font-size: 3rem;
	line-height: 1.4;
}
@mixin font-size-large {
	font-size: 2.4rem;
	line-height: 1.4;
}
@mixin font-size-medium {
	font-size: 2rem;
	line-height: 1.5;
}
@mixin font-size-normal {
	font-size: 1.6rem;
	line-height: 1.8;
}
@mixin font-size-small {
	font-size: 1.4rem;
	line-height: 1.6;
}


// Font styles
// ------------------------------
@mixin body-text {
	@include font-size-normal;
	font-family: $font-body;
	color: $grey-dark;
}
@mixin caption-text {
	@include font-size-normal;
	font-weight: $font-semibold;
	text-transform: uppercase;
}


// Effects
// ------------------------------
@mixin knockout-text {
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	text-fill-color: transparent;
	background-clip: text;
}
