html{
  line-height:1.15;
  -webkit-text-size-adjust:100%;
}
body{
  margin:0;
}
h1{
  font-size:2em;
  margin:0.67em 0;
}
hr{
  -webkit-box-sizing:content-box;
          box-sizing:content-box;
  height:0;
  overflow:visible;
}
pre{
  font-family:monospace, monospace;
  font-size:1em;
}
a{
  background-color:transparent;
}
abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  -webkit-text-decoration:underline dotted;
          text-decoration:underline dotted;
}
b,
strong{
  font-weight:bolder;
}
code,
kbd,
samp{
  font-family:monospace, monospace;
  font-size:1em;
}
small{
  font-size:80%;
}
sub,
sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sub{
  bottom:-0.25em;
}

sup{
  top:-0.5em;
}
img{
  border-style:none;
}
button,
input,
optgroup,
select,
textarea{
  font-family:inherit;
  font-size:100%;
  line-height:1.15;
  margin:0;
}
button,
input{
  overflow:visible;
}
button,
select{
  text-transform:none;
}
button,
[type=button],
[type=reset],
[type=submit]{
  -webkit-appearance:button;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner{
  border-style:none;
  padding:0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring{
  outline:1px dotted ButtonText;
}
fieldset{
  padding:0.35em 0.75em 0.625em;
}
legend{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal;
}
progress{
  vertical-align:baseline;
}
textarea{
  overflow:auto;
}
[type=checkbox],
[type=radio]{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  padding:0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button{
  height:auto;
}
[type=search]{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}
[type=search]::-webkit-search-decoration{
  -webkit-appearance:none;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}
details{
  display:block;
}
summary{
  display:list-item;
}
template{
  display:none;
}
[hidden]{
  display:none;
}

html{
  font-size:62.5%;
}

body{
  font-size:1.6rem;
  line-height:1.8;
  font-family:Helvetica, Arial, sans-serif;
  color:#333;
  background-color:white;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

::selection{
  color:white;
  background-color:#333;
  text-shadow:none;
}

main{
  display:block;
}

address{
  font-style:inherit;
}

p, h1, h2, h3, h4, h5, h6,
ul, ol, dl, table, pre, blockquote,
fieldset, legend, figure, details{
  margin:0 0 2rem;
}

img, iframe,
video, audio, canvas, svg,
embed, object{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  max-width:100%;
}

img{
  height:auto;
}

abbr[title]{
  border-bottom:1px dotted;
  text-decoration:none;
}

h1, .h1{
  font-size:5rem;
  line-height:1.2;
}

h2, .h2{
  font-size:3.6rem;
  line-height:1.3;
}

h3, .h3{
  font-size:2.4rem;
  line-height:1.4;
}

h4, .h4{
  font-size:2rem;
  line-height:1.5;
}

h5, .h5{
  font-size:1.6rem;
  line-height:1.8;
}

h6, .h6{
  font-size:1.6rem;
  line-height:1.8;
}

p.has-drop-cap:not(:focus):first-letter{
  font-size:6.3em;
}
p.has-background{
  padding:2rem 3rem;
}

hr{
  display:block;
  clear:both;
  border:none;
  border-top:1px solid #BBB;
  padding:0;
  height:1px;
  margin:2rem auto;
}

.wp-block-separator.is-style-default, .wp-block-separator:not(.is-style-wide):not(.is-style-dots){
  max-width:100px;
}
.wp-block-separator.is-style-dots:before{
  font-family:inherit;
  font-size:3rem;
  line-height:1.4;
  line-height:1;
  font-weight:700;
  letter-spacing:1.2em;
  padding-left:1em;
  color:#888;
}

a{
  color:#069;
  background-color:transparent;
  text-decoration:underline;
  -webkit-transition:color 0.8s cubic-bezier(0.25, 1, 0.2, 1), background-color 0.8s cubic-bezier(0.25, 1, 0.2, 1), border 0.8s cubic-bezier(0.25, 1, 0.2, 1);
  transition:color 0.8s cubic-bezier(0.25, 1, 0.2, 1), background-color 0.8s cubic-bezier(0.25, 1, 0.2, 1), border 0.8s cubic-bezier(0.25, 1, 0.2, 1);
}
a:hover, a:focus{
  color:white;
  background-color:#069;
  text-decoration:none;
}

.button, .wp-block-file a.wp-block-file__button, .wp-block-button__link{
  font-size:inherit;
  display:inline-block;
  width:auto;
  border:none;
  padding:0.5em 2em;
  margin:0;
  color:white;
  background:#069;
  text-decoration:none;
  text-align:center;
  font-weight:normal;
  border-radius:5px;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  -webkit-transition:color 0.5s, background-color 0.5s, border 0.5s;
  transition:color 0.5s, background-color 0.5s, border 0.5s;
  position:relative;
  cursor:pointer;
}
.button:hover, .wp-block-file a.wp-block-file__button:hover, .wp-block-button__link:hover, .button:focus, .wp-block-file a.wp-block-file__button:focus, .wp-block-button__link:focus{
  color:white;
  background:#33bbff;
}

.wp-block-button{
  margin:0 0 2rem;
}
@media (max-width: 579px){
  .wp-block-button.wp-block-button{
    text-align:center;
  }
}

.is-style-outline .wp-block-button__link:not(.has-text-color){
  color:#069;
}
.is-style-outline .wp-block-button__link:hover, .is-style-outline .wp-block-button__link:focus{
  color:white;
}
.wp-block-file{
  margin:0 0 2rem;
  border:1px solid #EEE;
  padding:2rem;
  border-radius:5px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.wp-block-file a{
  text-align:left;
}
.wp-block-file a.wp-block-file__button{
  -webkit-box-flex:0;
      -ms-flex:none;
          flex:none;
  font-size:1.4rem;
  line-height:1.6;
  padding:0.5rem 1rem;
  margin-left:1rem;
  border-radius:100vw;
}
ul, ol{
  padding:0 0 0 2rem;
}
ul ul, ul ol, ul dl, ol ul, ol ol, ol dl{
  margin-bottom:0;
}
nav ul, nav ol{
  list-style:none;
  padding:0;
}

dt{
  font-size:1.6rem;
  line-height:1.8;
  font-weight:600;
  text-transform:uppercase;
  margin:2rem 0 0;
}

dd{
  margin:0;
}

blockquote{
  font-size:2rem;
  line-height:1.5;
  color:#888;
}
blockquote cite{
  display:block;
  text-align:right;
  font-weight:bolder;
}

q{
  color:#888;
}

.wp-block-quote.is-style-large{
  font-size:3rem;
  line-height:1.4;
  margin:0 0 2rem;
  padding:0;
}
.wp-block-quote.is-style-large p{
  font:inherit;
}
.wp-block-quote.is-style-large cite{
  font-size:2rem;
  line-height:1.5;
}

.wp-block-pullquote{
  display:block;
  border-top:3px solid #888;
  border-bottom:3px solid #888;
  padding:4rem 0;
}
.wp-block-pullquote blockquote{
  font-size:2.4rem;
  line-height:1.4;
  margin:0 auto;
  max-width:100rem;
}
.wp-block-pullquote p{
  font:inherit !important;
}
.wp-block-pullquote cite{
  font-size:2rem;
  line-height:1.5;
  font-style:normal;
}
.wp-block-pullquote.is-style-solid-color{
  padding:4rem 3rem;
}
.wp-block-pullquote.is-style-solid-color blockquote{
  max-width:100rem;
}
.wp-block-pullquote.is-style-solid-color blockquote:not(.has-text-color){
  color:#333;
}
.wp-block-pullquote.is-style-solid-color blockquote p{
  font:inherit;
  margin:0 0 2rem;
}
pre, code{
  font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
  background-color:#EEE;
}

pre{
  padding:0.5em 1em;
  overflow:auto;
}

var, kbd{
  font-family:inherit;
}

samp{
  font-family:inherit;
  font-weight:bolder;
}

.wp-block-code{
  color:#EEE;
  background:#333;
}
.wp-block-code code{
  color:inherit;
  background:inherit;
}

.wp-block-verse{
  font:inherit;
  color:inherit;
}

figure{
  display:table;
  margin-left:auto;
  margin-right:auto;
  padding:2rem;
  text-align:center;
  background:#EEE;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
figure img{
  display:block;
  margin:0 auto;
}

figcaption,
.figcaption,
.wp-block-embed figcaption,
.wp-block-video figcaption,
.wp-block-audio figcaption,
.wp-block-image figcaption{
  margin:1rem 0 0;
  font:inherit;
  color:inherit;
  text-align:inherit;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.wp-block-image{
  margin:0 auto 2rem;
}
.wp-block-image figcaption{
  display:block !important;
}
.wp-block-image.is-resized{
  margin-left:auto;
  margin-right:auto;
}
.wp-block-gallery .blocks-gallery-item{
  -webkit-box-flex:0;
      -ms-flex-positive:0;
          flex-grow:0;
}
.wp-block-gallery .blocks-gallery-item figure{
  padding:0;
}
.wp-block-gallery .blocks-gallery-item figcaption{
  font-size:1.4rem;
  line-height:1.6;
  padding-bottom:1rem;
}
.wp-block-gallery.aligncenter{
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.wp-block-audio audio{
  min-width:0;
}
.wp-block-video{
  margin-left:auto;
  margin-right:auto;
}
.wp-block-video video{
  width:100%;
}
.wp-block-embed{
  display:block;
  margin:0 auto 2rem;
}
fieldset{
  padding:0;
  border:none;
}

legend{
  font-size:1.6rem;
  line-height:1.8;
  font-weight:600;
  text-transform:uppercase;
}

select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
select::-ms-expand{
  display:none;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=tel],
input[type=search],
.ie11 input[type=color],
input[type=number],
input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month],
input[type=week],
textarea,
select{
  line-height:inherit;
  border:1px solid #888;
  padding:0.5em 1em;
  width:100%;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  color:inherit;
  border-radius:5px;
}
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
.ie11 input[type=color]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=date]::-webkit-input-placeholder,
input[type=time]::-webkit-input-placeholder,
input[type=datetime-local]::-webkit-input-placeholder,
input[type=month]::-webkit-input-placeholder,
input[type=week]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder{
  color:#717171;
}
input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
.ie11 input[type=color]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=date]:-ms-input-placeholder,
input[type=time]:-ms-input-placeholder,
input[type=datetime-local]:-ms-input-placeholder,
input[type=month]:-ms-input-placeholder,
input[type=week]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder{
  color:#717171;
}
input[type=text]::-ms-input-placeholder,
input[type=password]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder,
input[type=url]::-ms-input-placeholder,
input[type=tel]::-ms-input-placeholder,
input[type=search]::-ms-input-placeholder,
.ie11 input[type=color]::-ms-input-placeholder,
input[type=number]::-ms-input-placeholder,
input[type=date]::-ms-input-placeholder,
input[type=time]::-ms-input-placeholder,
input[type=datetime-local]::-ms-input-placeholder,
input[type=month]::-ms-input-placeholder,
input[type=week]::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder{
  color:#717171;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=tel]::placeholder,
input[type=search]::placeholder,
.ie11 input[type=color]::placeholder,
input[type=number]::placeholder,
input[type=date]::placeholder,
input[type=time]::placeholder,
input[type=datetime-local]::placeholder,
input[type=month]::placeholder,
input[type=week]::placeholder,
textarea::placeholder,
select::placeholder{
  color:#717171;
}
input[type=text][readonly], input[type=text][disabled],
input[type=password][readonly],
input[type=password][disabled],
input[type=email][readonly],
input[type=email][disabled],
input[type=url][readonly],
input[type=url][disabled],
input[type=tel][readonly],
input[type=tel][disabled],
input[type=search][readonly],
input[type=search][disabled],
.ie11 input[type=color][readonly],
.ie11 input[type=color][disabled],
input[type=number][readonly],
input[type=number][disabled],
input[type=date][readonly],
input[type=date][disabled],
input[type=time][readonly],
input[type=time][disabled],
input[type=datetime-local][readonly],
input[type=datetime-local][disabled],
input[type=month][readonly],
input[type=month][disabled],
input[type=week][readonly],
input[type=week][disabled],
textarea[readonly],
textarea[disabled],
select[readonly],
select[disabled]{
  border-color:#BBB;
  background:#EEE;
}
textarea{
  resize:vertical;
}

table{
  width:100%;
  border-collapse:collapse;
  border-top:1px solid #EEE;
}

caption{
  font-size:1.6rem;
  line-height:1.8;
  font-weight:600;
  text-transform:uppercase;
  margin-bottom:1rem;
}

td, th{
  padding:0.5em 1em;
  border-bottom:1px solid #EEE;
  text-align:left;
  vertical-align:top;
}
thead td, tfoot td, thead th, tfoot th{
  background-color:#EEE;
}

@media (max-width: 579px){
  .responsive-table{
    border:none;
  }
  .responsive-table, .responsive-table thead, .responsive-table tfoot, .responsive-table tbody, .responsive-table tr, .responsive-table th, .responsive-table td, .responsive-table caption{
    display:block;
  }
  .responsive-table thead tr,
.responsive-table tfoot tr{
    position:absolute !important;
    height:1px;
    width:1px;
    overflow:hidden;
    clip:rect(1px, 1px, 1px, 1px);
    word-wrap:normal !important;
  }
  .responsive-table thead tr.focusable:active, .responsive-table thead tr.focusable:focus,
.responsive-table tfoot tr.focusable:active,
.responsive-table tfoot tr.focusable:focus{
    height:auto;
    width:auto;
    overflow:visible;
    clip:rect(auto, auto, auto, auto);
  }
  .responsive-table th{
    background:#EEE;
  }
  .responsive-table td[data-column-name],
.responsive-table th[data-column-name]{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
  }
  .responsive-table td[data-column-name]:before,
.responsive-table th[data-column-name]:before{
    content:attr(data-column-name);
    min-width:10rem;
    max-width:50%;
    margin-right:1rem;
    -webkit-box-flex:0;
        -ms-flex:none;
            flex:none;
    font-weight:bolder;
  }
}

.wp-block-table.is-style-stripes{
  border-collapse:collapse;
}
.wp-block-table.is-style-stripes tr:nth-child(odd){
  background-color:#EEE;
}
.wp-block-table.is-style-stripes td, .wp-block-table.is-style-stripes th{
  border:none;
}
.wp-block-table.is-style-stripes thead tr,
.wp-block-table.is-style-stripes tfoot tr{
  background:none !important;
}
.wp-block-table.is-style-stripes thead td, .wp-block-table.is-style-stripes thead th,
.wp-block-table.is-style-stripes tfoot td,
.wp-block-table.is-style-stripes tfoot th{
  color:#EEE;
  background-color:#333;
}
@media (max-width: 579px){
  .wp-block-table.is-style-stripes.responsive-table tr:nth-child(odd){
    background-color:transparent;
  }
  .wp-block-table.is-style-stripes.responsive-table th{
    color:#EEE;
    background:#333;
  }
  .wp-block-table.is-style-stripes.responsive-table td:nth-child(even){
    background-color:#EEE;
  }
}
@media (max-width: 579px){
  .wp-block-table.aligncenter, .wp-block-table.alignleft, .wp-block-table.alignright{
    width:100%;
  }
}
.message{
  display:block;
  padding:0.5em 1em;
  border:none;
  margin:0 0 2rem;
  color:#06A;
  background:#EEE;
  border-left:5px solid currentColor;
}
.message > *{
  margin-bottom:0;
}
.message ul{
  padding-left:1em;
}
.message a{
  color:inherit;
  text-decoration:underline;
}
.message a:hover,
.message a:focus{
  color:white;
  background-color:#06A;
  text-decoration:none;
}

.message--error{
  color:#C00;
}
.message--error a:hover,
.message--error a:focus{
  background-color:#C00;
}

.message--success{
  color:#090;
}
.message--success a:hover,
.message--success a:focus{
  background-color:#090;
}

.message--alert{
  color:black;
  background-color:#FD0;
}
.message--alert a:hover,
.message--alert a:focus{
  background-color:black;
}

.multi-column-grid{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  margin-left:-2rem;
}
.multi-column-grid > *{
  -webkit-box-flex:1;
      -ms-flex:1 1 0px;
          flex:1 1 0;
  margin-bottom:2rem;
  margin-left:2rem;
  min-width:20rem;
}

.wp-block-columns{
  margin-left:-2rem;
  -ms-flex-wrap:wrap !important;
      flex-wrap:wrap !important;
}
.wp-block-columns.alignwide{
  margin-left:calc( 50% - 1rem );
  width:calc( 100% + 24rem + 2rem );
  max-width:calc( 100vw + 2rem );
}
.wp-block-columns.alignfull{
  margin-left:calc( 50% - 1rem );
  width:calc( 100vw + 2rem );
}

.wp-block-column{
  -webkit-box-flex:1;
      -ms-flex:1 1 0px;
          flex:1 1 0;
  margin:0 0 2rem 2rem !important;
  min-width:20rem;
}
.wp-block-column > :last-child{
  margin-bottom:0;
}

.wp-block-media-text{
  margin:0 0 2rem;
  background:#EEE;
}
.wp-block-media-text figure.wp-block-media-text__media{
  padding:0;
}
.wp-block-media-text .wp-block-media-text__content{
  padding-top:2rem;
  padding-bottom:2rem;
}
.wp-block-media-text .wp-block-media-text__content > :last-child{
  margin-bottom:0;
}
.wp-block-archives{
  margin:0 0 2rem;
}
.wp-block-categories{
  margin:0 0 2rem;
}
.wp-block-latest-comments{
  padding:0;
}
.wp-block-latest-comments .wp-block-latest-comments__comment{
  font:inherit;
  margin-bottom:1rem;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-date{
  font:inherit;
  color:#888;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p{
  font:inherit;
  margin:0 0 2rem;
}
.wp-block-latest-comments .wp-block-latest-comments__comment-excerpt > :last-child{
  margin-bottom:0;
}
.wp-block-latest-posts .wp-block-latest-posts__post-date{
  font:inherit;
  color:#888;
}
.wp-block-latest-posts.is-grid{
  margin:0 0 0 -2rem;
}
.wp-block-latest-posts.is-grid li{
  -webkit-box-flex:0;
      -ms-flex:none;
          flex:none;
  margin:0 0 2rem 2rem;
  border:1px solid #EEE;
  padding:1rem;
  border-radius:5px;
  width:calc( 100% - 2rem );
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}
@media (min-width: 580px){
  .wp-block-latest-posts.is-grid li{
    width:calc( 100% / 2 - 2rem );
  }
}
@media (min-width: 768px){
  .wp-block-latest-posts.columns-3 li{
    width:calc( 100% / 3 - 2rem );
  }
  .wp-block-latest-posts.columns-4 li{
    width:calc( 100% / 4 - 2rem );
  }
  .wp-block-latest-posts.columns-5 li{
    width:calc( 100% / 5 - 2rem );
  }
  .wp-block-latest-posts.columns-6 li{
    width:calc( 100% / 6 - 2rem );
  }
}
.wp-block-latest-posts.alignwide.is-grid{
  margin-left:calc( 50% - 1rem );
  width:calc( 100% + 24rem + 2rem );
  max-width:calc( 100vw + 2rem );
}
.wp-block-latest-posts.alignfull.is-grid{
  margin-left:calc( 50% - 1rem );
  width:calc( 100vw + 2rem );
}

.no-margin{
  margin-bottom:0;
}

.margin-1{
  margin-bottom:2rem;
}

.margin-2{
  margin-bottom:4rem;
}

.margin-3{
  margin-bottom:6rem;
}

.margin-4{
  margin-bottom:8rem;
}

.full-width{
  display:block;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  width:100%;
}

.ratio-16-9, .ratio-1-1, .ratio-4-3{
  position:relative;
  height:0;
  padding-bottom:56.25%;
}
.ratio-16-9 > *, .ratio-1-1 > *, .ratio-4-3 > *{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.ratio-4-3{
  padding-bottom:75%;
}

.ratio-1-1{
  padding-bottom:100%;
}

.bleed-left{
  position:relative;
}
.bleed-left:before{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  width:100vw;
  z-index:-1;
  background:inherit;
}

.bleed-right{
  position:relative;
}
.bleed-right:after{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:100vw;
  z-index:-1;
  background:inherit;
}

.visually-hidden, .screen-reader-text{
  position:absolute !important;
  height:1px;
  width:1px;
  overflow:hidden;
  clip:rect(1px, 1px, 1px, 1px);
  word-wrap:normal !important;
}
.visually-hidden.focusable:active, .focusable.screen-reader-text:active, .visually-hidden.focusable:focus, .focusable.screen-reader-text:focus{
  height:auto;
  width:auto;
  overflow:visible;
  clip:rect(auto, auto, auto, auto);
}

.invisible{
  visibility:hidden;
}

.print-only{
  display:none;
}

.text-left{
  text-align:left;
}

.text-center{
  text-align:center;
}

.text-right{
  text-align:right;
}

.hyphens{
  -webkit-hyphens:auto;
      -ms-hyphens:auto;
          hyphens:auto;
}

.float-left, .alignleft, .wp-block-pullquote.alignleft, .wp-block-image .alignleft, .wp-block-gallery.alignleft, .wp-block-embed.alignleft, .wp-block-categories.alignleft{
  float:left;
  margin:0 2rem 2rem 0;
}

.float-right, .alignright, .wp-block-pullquote.alignright, .wp-block-image .alignright, .wp-block-gallery.alignright, .wp-block-embed.alignright, .wp-block-categories.alignright{
  float:right;
  margin:0 0 2rem 2rem;
}

.float-left, .alignleft, .wp-block-pullquote.alignleft, .wp-block-image .alignleft, .wp-block-gallery.alignleft, .wp-block-embed.alignleft, .wp-block-categories.alignleft,
.float-right,
.alignright,
.wp-block-pullquote.alignright,
.wp-block-image .alignright,
.wp-block-gallery.alignright,
.wp-block-embed.alignright,
.wp-block-categories.alignright{
  max-width:calc( 50% - 2rem );
}
@media (max-width: 579px){
  .float-left, .alignleft, .wp-block-pullquote.alignleft, .wp-block-image .alignleft, .wp-block-gallery.alignleft, .wp-block-embed.alignleft, .wp-block-categories.alignleft,
.float-right,
.alignright,
.wp-block-pullquote.alignright,
.wp-block-image .alignright,
.wp-block-gallery.alignright,
.wp-block-embed.alignright,
.wp-block-categories.alignright{
    float:none;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
  }
}

.clear{
  clear:both;
}

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}

.scroll{
  overflow:auto;
  -webkit-overflow-scrolling:touch;
}

.no-overflow{
  overflow:hidden;
}

.has-small-font-size{
  font-size:1.4rem;
  line-height:1.6;
}

.has-normal-font-size{
  font-size:1.6rem;
  line-height:1.8;
}

.has-medium-font-size{
  font-size:2rem;
  line-height:1.5;
}

.has-large-font-size{
  font-size:2.4rem;
  line-height:1.4;
}

.has-huge-font-size{
  font-size:3.6rem;
  line-height:1.3;
}

.aligncenter{
  clear:both;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.alignwide, .wp-block-table.alignwide{
  clear:both;
  margin-left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
  max-width:100vw;
  width:calc( 100% + 24rem );
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.alignfull, .wp-block-table.alignfull{
  clear:both;
  margin-left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
  max-width:none;
  width:100vw;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.wp-caption{
  max-width:100%;
}

.wrapper{
  max-width:120rem;
  padding:0 3rem;
  padding-left:calc( env(safe-area-inset-left) + 3rem );
  padding-right:calc( env(safe-area-inset-right) + 3rem );
  margin:0 auto;
}

html.is-unsupported-browser #browser-alert{
  display:block !important;
}

.header-row{
  padding:2rem 0;
  background:#EEE;
}
.header-row .wrapper{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
@media (max-width: 579px){
  .header-row .wrapper{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
  }
}

.site-logo a{
  display:block;
  padding:0.5rem 1rem;
}

.main-nav ul{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin:0;
}
.main-nav a{
  display:block;
  padding:0.5rem 1rem;
}
@media (max-width: 579px){
  .main-nav ul{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
  }
}

.main-row{
  overflow:hidden;
  padding:4rem 0;
}

.footer-row{
  padding:2rem 0;
  background:#EEE;
  overflow:hidden;
  text-align:center;
}

.footer-nav ul{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}
.footer-nav a{
  display:block;
  padding:0.5rem 1rem;
}

.content-pagination{
  margin-top:2rem;
  border-top:1px solid #BBB;
  padding-top:2rem;
  clear:both;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.content-pagination > span,
.content-pagination a{
  display:block;
  margin:0.5em;
  min-width:2em;
  line-height:2;
  text-align:center;
  text-decoration:none;
  background:#EEE;
}
.content-pagination a:hover,
.content-pagination a:focus{
  color:white;
  background-color:#069;
}

.search-form form{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

@media (max-width: 767px){
  .page-sidebar{
    margin-top:4rem;
  }
}
@media (min-width: 768px){
  .page-container{
    display:grid;
    grid-template-columns:1fr 3fr;
  }
  .no-cssgrid .page-container{
    display:-ms-grid;
  }
  .no-cssgrid .page-container{
    -ms-grid-columns:1fr 3fr;
  }

  .page-content{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    grid-column:2;
  }
  .no-cssgrid .page-content{
    -ms-grid-column:2;
  }

  .page-sidebar{
    grid-column:1;
  }
  .no-cssgrid .page-sidebar{
    -ms-grid-column:1;
  }
}
@media (min-width: 1024px){
  .page-container{
    grid-template-columns:1fr 4fr;
  }
  .no-cssgrid .page-container{
    -ms-grid-columns:1fr 4fr;
  }
}
.blog-item{
  padding:4rem 0;
  border-top:1px solid #EEE;
}

.blog-item--thumb{
  display:block;
  margin:0 auto 2rem;
}

.blog-item--content > :last-child{
  margin-bottom:0;
}

@media (min-width: 380px){
  .blog-item{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
  }

  .blog-item--thumb{
    margin:0 2rem 0 0;
    width:7.5rem;
  }
}
@media (min-width: 580px){
  .blog-item--thumb{
    width:10rem;
  }
}
.numbered-pagination ul{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.numbered-pagination li{
  margin:0.5em;
}
.numbered-pagination a, .numbered-pagination span{
  display:block;
  min-width:2em;
  line-height:2;
  text-align:center;
  text-decoration:none;
  background:#EEE;
}
.numbered-pagination a:hover,
.numbered-pagination a:focus{
  color:white;
  background-color:#069;
}

.pagination ul{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.pagination .pagination-previous{
  margin-right:2rem;
}
.pagination .pagination-next{
  margin-left:auto;
}
/*# sourceMappingURL=main.css.map*/